.Treasure.classic.sprite {
    display:inline-block;
    overflow:hidden;
    background:url(classicTreasure.png) no-repeat;
    width:180px;
    height:280px;
}

    .Treasure.classic.card00 { background-position: -2px -2px}
    .Treasure.classic.card01 { background-position: -2px -284px}
    .Treasure.classic.card02 { background-position: -2px -566px}
    .Treasure.classic.card03 { background-position: -2px -848px}
    .Treasure.classic.card04 { background-position: -2px -1130px}
    .Treasure.classic.card05 { background-position: -2px -1412px}
    .Treasure.classic.card06 { background-position: -2px -1694px}
    .Treasure.classic.card07 { background-position: -184px -2px}
    .Treasure.classic.card08 { background-position: -184px -284px}
    .Treasure.classic.card09 { background-position: -184px -566px}
    .Treasure.classic.card10 { background-position: -184px -848px}
    .Treasure.classic.card11 { background-position: -184px -1130px}
    .Treasure.classic.card12 { background-position: -184px -1412px}
    .Treasure.classic.card13 { background-position: -184px -1694px}
    .Treasure.classic.card14 { background-position: -366px -2px}
    .Treasure.classic.card15 { background-position: -548px -2px}
    .Treasure.classic.card16 { background-position: -730px -2px}
    .Treasure.classic.card17 { background-position: -912px -2px}
    .Treasure.classic.card18 { background-position: -1094px -2px}
    .Treasure.classic.card19 { background-position: -1276px -2px}
    .Treasure.classic.card20 { background-position: -1458px -2px}
    .Treasure.classic.card21 { background-position: -1640px -2px}
    .Treasure.classic.card22 { background-position: -1822px -2px}
    .Treasure.classic.card23 { background-position: -366px -284px}
    .Treasure.classic.card24 { background-position: -366px -566px}
    .Treasure.classic.card25 { background-position: -366px -848px}
    .Treasure.classic.card26 { background-position: -366px -1130px}
    .Treasure.classic.card27 { background-position: -366px -1412px}
    .Treasure.classic.card28 { background-position: -366px -1694px}
    .Treasure.classic.card29 { background-position: -548px -284px}
    .Treasure.classic.card30 { background-position: -730px -284px}
    .Treasure.classic.card31 { background-position: -912px -284px}
    .Treasure.classic.card32 { background-position: -1094px -284px}
    .Treasure.classic.card33 { background-position: -1276px -284px}
    .Treasure.classic.card34 { background-position: -1458px -284px}
    .Treasure.classic.card35 { background-position: -1640px -284px}
    .Treasure.classic.card36 { background-position: -1822px -284px}
    .Treasure.classic.card37 { background-position: -548px -566px}
    .Treasure.classic.card38 { background-position: -548px -848px}
    .Treasure.classic.card39 { background-position: -548px -1130px}
    .Treasure.classic.card40 { background-position: -548px -1412px}
    .Treasure.classic.card41 { background-position: -548px -1694px}
    .Treasure.classic.card42 { background-position: -730px -566px}
    .Treasure.classic.card43 { background-position: -730px -848px}
    .Treasure.classic.card44 { background-position: -730px -1130px}
    .Treasure.classic.card45 { background-position: -730px -1412px}
    .Treasure.classic.card46 { background-position: -730px -1694px}
    .Treasure.classic.card47 { background-position: -912px -566px}
    .Treasure.classic.card48 { background-position: -1094px -566px}
    .Treasure.classic.card49 { background-position: -1276px -566px}
    .Treasure.classic.card50 { background-position: -1458px -566px}
    .Treasure.classic.card51 { background-position: -1640px -566px}
    .Treasure.classic.card52 { background-position: -1822px -566px}
    .Treasure.classic.card53 { background-position: -912px -848px}
    .Treasure.classic.card54 { background-position: -912px -1130px}
    .Treasure.classic.card55 { background-position: -912px -1412px}
    .Treasure.classic.card56 { background-position: -912px -1694px}
    .Treasure.classic.card57 { background-position: -1094px -848px}
    .Treasure.classic.card58 { background-position: -1276px -848px}
    .Treasure.classic.card59 { background-position: -1458px -848px}
    .Treasure.classic.card60 { background-position: -1640px -848px}
    .Treasure.classic.card61 { background-position: -1822px -848px}
    .Treasure.classic.card62 { background-position: -1094px -1130px}
    .Treasure.classic.card63 { background-position: -1094px -1412px}
    .Treasure.classic.card64 { background-position: -1094px -1694px}
    .Treasure.classic.card65 { background-position: -1276px -1130px}
    .Treasure.classic.card66 { background-position: -1276px -1412px}
    .Treasure.classic.card67 { background-position: -1276px -1694px}
    .Treasure.classic.card68 { background-position: -1458px -1130px}
    .Treasure.classic.card69 { background-position: -1640px -1130px}
    .Treasure.classic.card70 { background-position: -1822px -1130px}
    .Treasure.classic.card71 { background-position: -1458px -1412px}
    .Treasure.classic.card72 { background-position: -1458px -1694px}
    .Treasure.classic.card73 { background-position: -1640px -1412px}
    .Treasure.classic.card74 { background-position: -1640px -1694px}

